body {
  margin: 0;
  text-align: center;
  justify-content: center;
  background: #0d0f28;
}

*{
  padding: 20;
  margin: 20;
  box-sizing: border-box;
}

.nav {
  overflow: hidden;
  background-color: #0d0f28;
  position: relative;
}

.nav #Links {
  display: none;
}

.nav a {
  color: #ffcf00;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  display: block;
  font-family: 'Archivo', sans-serif;
}

.nav a.icon {
  background: #070814;
  display: block;
  position: absolute;
  right: 0;
  top: 0;
}

.ham2 a:hover {
  background-color: #ffcf00;
  color: #0d0f28;
}

.ham a:hover {
  background-color: #ffcf00;
  color: #0d0f28;
}

.inactive a:hover {
  background-color: #ffcf00;
  color: #0d0f28;
}

.active {
  background-color: #0d0f28;
  color: #ffcf00;
  font-family: 'Archivo', sans-serif;
}

#image img {
  width: 100%;
  margin-top: 0px;
  margin-bottom: 16px;
}

#c {
  margin-top: 80px;
  margin-bottom: 50px;
  font-family: 'Archivo', sans-serif;
  color: #ffcf00;
}

.inner-width {
  display: block;
  margin: 0px auto;
}

#infos {
  position: relative;
  padding: 0 0 10px;
  margin-bottom: 10px;
  color: #ffcf00;
  font-size: 30px;
  font-family: 'Raleway', sans-serif;
  text-align: center;
}

.container{
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -15px;
}

.contact-box{
  max-width: 400px;
  min-width: 300px;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #070814;
  box-shadow: 0px 0px 19px 5px rgba(0, 1, 12, 0.19);
}

#contactcss {
  background: #0d0f28;
  width: 70%;
  padding: 60px 0;
  margin-top: 70px;
  max-width: 1200px;
  margin: 0px auto;
  display: block;

}

.contactpadding{
  padding: 25px 40px;
}

h2{
  position: relative;
  padding: 0 0 10px;
  margin-bottom: 10px;
  color: #ffcf00;
  font-size: 30px;
  font-family: 'Raleway', sans-serif;
  text-align: center;
}

.field{
  font-family: 'Archivo', sans-serif;
  width: 100%;
  border: 2px solid #0d0f28;
  outline: none;
  background-color: rgb(230, 230, 230);
  padding: 0.5rem 0.5rem;
  font-size: 1.1rem;
  margin-bottom: 22px;
  transition: .3s;
}

.field:hover{
  background-color: #b2b5cf;
}

textarea{
  min-height: 150px;
}

.btn{
  width: 100%;
  padding: 0.5rem 0.5rem;
  background-color: #0d0f28;
  color: #fff;
  font-size: 1.1rem;
  border: none;
  outline: none;
  cursor: pointer;
  transition: .3s;
}

.btn:hover{
    background-color: #b2b5cf;
}

.field:focus{
    border: 2px solid rgba(30,85,250,0.47);
    background-color: #fff;
}

@media screen and (max-width: 880px){
  .contact-box{
    grid-template-columns: 1fr;
  }

  textarea {
    min-height: 100px;
  }
  .container {
    margin-bottom: -100px;
    margin-top: -70px;
  }

  #c {
    font-size: 9pt;
  }

  #image {
    overflow: hidden;
    display: flex;
    justify-content: center;
  }

  #image img {
    min-width: 180%;
    max-width: 200%;
    display: block;
    margin-top: -30px;
    margin-left: auto;
    margin-right: auto;
  }
}
